.spinner {
    width: 70px;
    height: 18px;
    text-align: center;
    &__oveflay {
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__dot {
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-dotdelay 1.4s infinite ease-in-out both;
        animation: sk-dotdelay 1.4s infinite ease-in-out both;
        &:not(:last-child) {
            margin-right: 3px;
        }
        &:nth-child(1) {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }
        &:nth-child(2) {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
    }
}

@-webkit-keyframes sk-dotdelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-dotdelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
